{{#>layout title="{{translate 'email.resetPassword.title' lang=lang}}" }}
  <h1 style="padding-bottom: 12px">{{translate "email.resetPassword.emailTitle" lang=lang}}</h1>
  <p style="padding-bottom: 16px">{{translate "email.resetPassword.followThisLink" lang=lang}}</p>
  <a href="{{link}}" target="_blank"
    style="padding: 12px 24px; margin-bottom: 16px; border-radius: 4px; color: #FFF; background: #ff7f0a; display: inline-flex;">
    {{translate "email.resetPassword.resetNow" lang=lang}}
  </a>

  <p style="padding-bottom: 16px">{{translate "email.resetPassword.ifYouDidNotAskToResetPassword" lang=lang}}
  </p>
  {{>ending}}
{{/layout}}